<div class="body">
    <div class="box">
        <h3>CAUSALES DE MERMA DEL REPORTE DEL OPERADOR A DEPARTAMENTO DE IMPRESION</h3>
    </div>
    <div class="encabezado">
        <div>
            <label for="fecha">Fecha: </label>
            <input name="fecha" type="date">
        </div>
        <div>
            <label for="turno"> Turno:</label>
            <input name="turno" type="number">
        </div>
        <div>
            <label for="prensa">Prensa:</label>
            <input name="prensa" type="number">
        </div>
        <div>
            <label for="sku">SKU:</label>
            <input name="sku" type="number">
        </div>
        <div>
            <button>Verificar</button>
            <button>Extraer</button>
            <button>Formato SAP</button>
        </div>
    </div>
    <hr>
    <div class="operador ">
        <div class="elemento">
            <div>

                <label form="nomoperador">Nombre del operador: </label>
            </div>
            <select name="nomoperador" class="inputelement">
                <option value="Nombre Operador">Nombre operador</option>

            </select>
        </div>
        <div class="elemento">
            <label form="numempleado">No. de Empleado</label>
            <input name="numempleado" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="noarticulo">No. de Atriculo de rollo</label>
            <input name="noarticulo" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="proveedor">Proveedor y Gramaje: </label>
            <input name="proveedor" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="medida">Medida:</label>
            <input name="medida" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="aplicacion">Aplicacion: </label>
            <input name="aplicacion" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="ofabricacion">Orden de fabricacion:</label>
            <input name="ofabricacion" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="descripcion sku">Descripcion SKU PPK:</label>
            <input name="descripcion sku" type="text" class="inputelement">
        </div>
        <div class="elemento">
            <label form="cantproduccion">Cantidad producida reportada: </label>
            <input name="cantproduccion" type="number" class="inputelement">
        </div>
        <div class="elemento">
            <label form="iniciom2">Inicio contador (M2)</label>
            <input name="iniciom2" type="number" class="inputelement">
        </div>
        <div class="elemento">
            <label form="iniciom2">Final contador (M2)</label>
            <input name="iniciom2" type="number" class="inputelement">
        </div>
        <div class="elemento">
            <label form="consumom2">Carton consumido (M2)</label>
            <input name="consumom2" type="number" class="inputelement">
        </div>
    </div>
    <hr>
    <div class="actividades">
        <div class="table">
            <div>
                <detalle-merma> </detalle-merma>
            </div>
            <div class="observacion">
                <label form="observaciones">
                    <h3>Obsercaciones: </h3>
                </label>
                <input name="observeciones" type="text" class="observaciones">
            </div>
        </div>
        <div class="detemerma">
            <div class="btn2">
                <div>
                    <button>Guardar</button>
                    <button>Limpiar</button>
                    <button>Registrar Eventos</button>
                </div>
                <div class="">
                    <label form="totcausal" class="">Total por causal</label>
                    <input name="totcausal" type="number" class="inputelement">
                </div>
            </div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Merma de porceso de Impresion
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" class="td1">
                        <tr>
                            <td class="td2 tdborderlado tdborderbot">
                                <label for="envrollo">Total de merma en tira por envoltura de rollos</label>

                            <td class="td2 tdborderbot" >
                                0<!-- <input name="envrollo"> -->
                            </td>
                        <tr>
                        <tr>
                            <td class="td2 tdborderlado" >
                                <label for="cuadro">Total de merma en cuadro (procesos)</label>
                            </td>
                            <td class="td2">
                                0<!-- <input name="cuadro"> -->
                            </td>
                        </tr>
                        </td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tr>
                        <th>
                            Merma de extrusion
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" class="td1">
                    <tr>
                        <td class="td2 tdborderlado" > <label for="envrollo">Total de merma en tira carretes</label></td>
                        <td class="td2">0
                             <!-- <input name="envrollo"> -->
                            </td>
                    </tr>
                    </td>
                    </tr>
                </table>
            </div>
            <div class="Firma">
                <div class="line"></div>
                <label>Firma del operador A</label>
            </div>
            <div class="Firma">
                <div class="line"></div>
                <label>Firma del jefe o supervisor</label>
            </div>
            <div class="Firma">
                <div class="line"></div>
                <label>Firma del responsable SAP</label>
            </div>

        </div>
    </div>
    <!-- <div class="nuevaclasif">
    </div> -->
    <!-- <div class="margentote"></div>
    <div class="margentote"></div> -->
</div>