<div class="bloque">
    <div class="left">
     
        <div class="imagecontent">
 <!-- <img class="imagen" src="/assets/radioGraph.png" > -->
 <span class="title">software</span>
        </div>
    </div>
    <div class="rigth">
        <div class="contenedor">
            <div class="fotoperfil">
                <img  class="imagenicon"src="/assets/usuario.png">
            </div>
            <div class="formulario">
                <div class="etiqueta">
                    <label for="username">Username</label>
                    <input mane="username"type="text" placeholder="Evelin_Mercado">

                </div>
                <div class="etiqueta">
                    <label for="password">Contraseña</label>
                    <input name="password" type="text" placeholder="password">

                </div>
                <div class="etiqueta">
                    <button class="btningresar">Ingresar</button>

                </div>

            </div>
        </div>
    </div>
</div>
