<div class="body">
    <div class="nav">

    </div>
    <div class="info">
        Buenas tardes, aqui tendran infomracion muy muy importante
        Explicare en que conssite cada color dentro del circulo del lado derecho de cada Selladora
        <ul>
<li>
    Rojo -> emergencia. La selladora ha pasado mas de 3hrs. parada 

</li>
<li>
    Amarillo -> fallo de maquina. La maquina ha fallado y esta en espera de atencion, ya se ha comunicado al jefe inmediato de la misma

</li>
<li>

    Verde -> todo bien todo cool 😎
</li>
        </ul>
    </div>
    <div class="container-primary">
        <div class="cards">
            <span class="title" >Selladora 1
                <div class="semaforo green"></div>
            </span>
            <div class="graph">
                <apx-chart
                [series]="serie"
                [chart]="chartRadialBar" 
                [labels]="labels"
                [plotOptions]="plotOptions"
                [fill]="fill"
               ></apx-chart>
            </div>
            <div class="focus"></div>
        </div>

        <div class="cards">
            <span class="title" >Selladora 2
                <div class="semaforo yellow"></div>
            </span>
            <div class="graph">
                <apx-chart
                [series]="serie"
                [chart]="chartRadialBar" 
                [labels]="labels"
                [plotOptions]="plotOptions"
                [fill]="fill"
               ></apx-chart>
            </div>
            <div class="focus"></div>
        </div>
        <div class="cards">
            <span class="title" >Selladora 3
                <div class="semaforo red"></div>
            </span>
            <div class="graph">
                <apx-chart
                [series]="serie"
                [chart]="chartRadialBar" 
                [labels]="labels"
                [plotOptions]="plotOptions"
                [fill]="fill"
               ></apx-chart>
            </div>
            <div class="focus"></div>
        </div>
    </div>
</div>