<div class="body">
    <div class="nav">
        <div class="title">Graficas</div>
        <div class="container-filter" (click)="change_view()">
            <img [src]="filter_state" alt="filter-image" class="filter-icon">
        </div>
    </div>
    <div class="container-primary">
        <div class="container-informacion">
            <div class="informacion">
                Ve el estado y los datos de las graficas
            </div>
        </div>

        <!-- CARTAS -->
        <div [class]="container_cards_className">

            <div class="cards">
                <div class="deathTime" *ngIf="container_cards_className === 'container-cards-slim'">Tiempo en paro:
                    07:34</div>
                <span class="title">Temperatura 1
                    <div class="semaforo-a green"></div>
                </span>
                <div class="graph">
                    <apx-chart [series]="grafica1.series" [chart]="grafica1.chart" [labels]="grafica1.labels"
                        [plotOptions]="grafica1.plotOptions" [fill]="grafica1.fill"></apx-chart>
                </div>

                <div class="focus" (click)="open_selladora_event('Temperatura 1', 1)"></div>
            </div>
            <div class="cards">
                <div class="deathTime" *ngIf="container_cards_className === 'container-cards-slim'">Tiempo en paro:
                    07:34</div>
                <span class="title">Temperatura 2
                    <div class="semaforo-a green"></div>
                </span>
                <div class="graph">
                    <apx-chart [series]="grafica1.series" [chart]="grafica1.chart" [labels]="grafica1.labels"
                        [plotOptions]="grafica1.plotOptions" [fill]="grafica1.fill"></apx-chart>
                </div>

                <div class="focus" (click)="open_selladora_event('Temperatura 2', 2)"></div>
            </div>
        </div>
        <!-- CARTAS -->
    </div>
    <footer>
        <div class="empresa">
            <a href="https://www.irvinproducts.com/es/">
                <img src="./assets/irvin_logo.png" alt="Irvin" class="empresa_icon">
            </a>
        </div>
        <div class="space">

        </div>
        <div class="controler">
            <a href="https://controler.mx/">
                <img src="./assets/controler.png" alt="Controler" class="controler_icon">
            </a>
        </div>
    </footer>
</div>