<div class="body">
    <div class="nav">

    </div>
    <div class="container-primary">
        <div class="cards">
            <span class="title green" >Selladora 1</span>
            <div class="graph"></div>
        </div>
        <div class="cards">
            <span class="title yellow">Selladora 1</span>
            <div class="graph"></div>
        </div>
        <div class="cards">
            <span class="title red">Selladora 1</span>
            <div class="graph"></div>
        </div>
    </div>
</div>