<div class="bloque">
    <div class="left">

        <div class="imagecontent">
            <img class="imagen" src="/assets/cerca.png">
            <span class="title">Selladoras</span>
        </div>
    </div>
    <div class="rigth">
        <div class="contenedor">
            <div class="fotoperfil">
                <img class="imagenicon" src="/assets/icon.png">
            </div>
            <form class="formulario" [formGroup]="formulario">
                <div class="etiqueta">
                    <label for="username">Nombre de Usuario</label>
                    <input mane="username" type="text" placeholder="Evelin_Mercado" formControlName="username">
                </div>
                <div class="etiqueta">
                    <label for="password">Contraseña</label>
                    <input name="password" type="password" placeholder="password" formControlName="password">
                </div>
                <div class="etiqueta">
                    <button class="btningresar" (click)="login_event()">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>