<div class="contenedor">
    <div class="tarjeta">
        <div>
            <label class="title">Selladora 3</label>
        </div>
        <div class="body">
            <div class="grafica"></div>
            <div class="info">
                <div class="elemento">
                    <label class="dato">Fecha: </label>
                    <label class="valor"> {{date}} </label>
                </div>
                <div class="elemento">
                    <label class="dato">Fecha: </label>
                    <label class="valor"> {{date}} </label>
                </div>
                <div class="elemento">
                    <label class="dato">Fecha: </label>
                    <label class="valor"> {{date}} </label>
                </div>
                <div class="elemento">
                    <label class="dato">Fecha: </label>
                    <label class="valor"> {{date}} </label>
                </div>
                <div class="elemento">
                    <label class="dato">Fecha: </label>
                    <label class="valor"> {{date}} </label>
                </div>
            </div>
        </div>
        <div class="status"></div>
    </div>
    </div>
